## chartpress is important for local development, CI and CD
## - builds images and can push them also (--push)
## - updates image names and tags in values.yaml
## - can publish the built Helm chart (--publish)
##
## chartpress is used by
## - publish
##
## ref: https://github.com/jupyterhub/chartpress
##
chartpress==0.6.*